<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <main>
        <section class="content">
            <h1>Resultados de la asignación de enfermeras</h1>
            <div class="container" style="flex-grow: 1;">
                <p id="loading" class="loading">Procesando para {{selected_shift}} {{selected_date}}, por favor espere...</p>
                <img src="{% static 'img/loading.gif' %}" alt="loadingImg" />
            </div>
            <div class="flex-container">
                <div class="image-wrapper image-large">
                    <img id="distributionImg" src="{% static 'img/rooms.png' %}" alt="distributionImg" class="image-hidden">
                </div>
                <div class="image-wrapper image-small">
                    <img id="tableImg" src="{% static 'img/table.png' %}" alt="tableImg" class="image-hidden">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Sistema de Asignación de Enfermeras</p>
    </footer>
    <script>
        const selectedDate = "{{ selected_date }}";
        const selectedShift = "{{ selected_shift }}";
    
        fetch(`/assignation/run_main/?date=${selectedDate}&shift=${selectedShift}`)
            .then(response => response.json())
            .then(data => {
                const container = document.querySelector('.container');
                const loading = document.getElementById('loading');
                const loadingImg = document.querySelector('img[alt="loadingImg"]');
                const image1 = document.getElementById('distributionImg');
                const image2 = document.getElementById('tableImg');
    
                if (loading) loading.remove();
                if (loadingImg) loadingImg.remove();
    
                const timestamp = new Date().getTime();
    
                image1.src = `{% static 'img/rooms.png' %}?t=${timestamp}`;
                image2.src = `{% static 'img/table.png' %}?t=${timestamp}`;
    
                image1.style.display = 'block';
                image2.style.display = 'block';
            })
            .catch(error => {
                document.querySelector('.container').innerHTML = "<p style='color:red;'>Failed to load data.</p>";
                console.error('Error:', error);
            });
    </script>
    
</body>
</html>