<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación Enfermería HUS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="content">
            <h2 id="title" class="hidden">Resultados de la asignación de enfermeras</h2>
            <div class="container">
                <p id="loading" class="loading">Procesando para el turno de <b>{{selected_shift}} {{selected_date}}</b>, por favor espere...</p>
                <img src="{% static 'img/loading.gif' %}" alt="loadingImg" />
            </div>
            <div class="flex-container">
                <div class="image-wrapper image-large">
                    <img id="distributionImg" src="{% static 'img/rooms.png' %}" alt="distributionImg" class="image-hidden">
                </div>
                <div class="image-wrapper image-small">
                    <img id="tableImg" src="{% static 'img/table.png' %}" alt="tableImg" class="image-hidden">
                </div>
            </div>
        </section>
    </main>
    <script>
        const selectedDate = "{{ selected_date }}";
        const selectedShift = "{{ selected_shift }}";
    
        fetch(`/assignation/run_main/?date=${selectedDate}&shift=${selectedShift}`)
            .then(response => response.json())
            .then(data => {
                const container = document.querySelector('.container');
                const loading = document.getElementById('loading');
                const loadingImg = document.querySelector('img[alt="loadingImg"]');
                const image1 = document.getElementById('distributionImg');
                const image2 = document.getElementById('tableImg');
                const title = document.getElementById('title');
    
                if (loading) loading.remove();
                if (loadingImg) loadingImg.remove();
    
                const timestamp = new Date().getTime(); 
    
                image1.src = `{% static 'img/rooms.png' %}?t=${timestamp}`;
                image2.src = `{% static 'img/table.png' %}?t=${timestamp}`;
    
                image1.style.display = 'block';
                image2.style.display = 'block';                
                if (title) title.style.display = 'block';
            })
            .catch(error => {
                document.querySelector('.container').innerHTML = "<p style='color:red;'>Error durante el procesamiento.</p>";
                console.error('Error:', error);
            });
    </script>
</body>
</html>