<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación Enfermería HUS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="indexContent">
            <div class="image-wrapper image-logo">
                <img id="logo" src="{% static 'img/logo_sureste.png' %}">
            </div>
            <h3>Asignación de enfermeras</h3>
            <form action="{% url 'assignation' %}" method="post">
                {% csrf_token %}
                <label for="date">Selecione la fecha:</label>
                <input type="date" id="date" name="date" value="{{ current_date }}" required>
                <label for="shift">Selecione el turno:</label>
                <select id="shift" name="shift" required>
                    <option value="Mañana" {% if current_shift == "M" %}selected{% endif %}>Mañana</option>
                    <option value="Tarde" {% if current_shift == "T" %}selected{% endif %}>Tarde</option>
                    <option value="Noche" {% if current_shift == "N" %}selected{% endif %}>Noche</option>
                </select>
                <button type="submit" class="btn">Iniciar Reparto</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy;2025 Hospital Universitario del Sureste</p>
    </footer>
</body>
</html>
